// Colors
    $body-bg: #f2f2f2;
    $tables-row-bg: #f4f4f4;
    $main-color: #ffffff;
    $secondary-color: #dc052d;
    $register-color: #eca238;
    $border-color: #eeeeee;

    // Text Colors

    $blue-color: #2e6abd;

    $title-main-color: #333333;
    $article-color: #777777;
    $slider-text-color: #494949;

    $matches-preview-color: #30c66c;

// Font Sizes

    $main-fs: 14px;
    
    $top-fs: 15px;
    $slider-title-fs: 18px;
    $title-fs: 16px;
    $article-fs: 13px;
    $small-fs: 12px;