.full-story {
    
    &__article {
        padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    }

    &__image {
        width: 100%;

        img {
            width: 100%;
            border-radius: 2px;
        }
    }

    &__title {
        margin: 25px 0;
        font-size: 21px;
    }

    &__content {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 25px 0;

        p:not(:last-child) {
            margin-bottom: 25px !important;
        }
    }

    &__tags {
        padding: 15px 0;

        span {
            display: inline-block;
            border: 1px solid $secondary-color;
            padding: 5px 10px;
            cursor: pointer;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 5px;
            transition: all .3s;
            font-size: $small-fs;

            &:hover {
                color: $main-color;
                background: $secondary-color;
            }
        }
    }
}

// Comments Section
.comments {
    
    margin: 20px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

    &__title {
        padding: 20px;
        border-bottom: 1px solid $border-color;
        
        span {
            color: $secondary-color;
        }
    }

    &__item {
        margin: 20px;
        border: 1px solid $border-color;
        border-radius: 5px;
        display: flex;
    }

    &__user {
        border-right: 1px solid $border-color;
        width: 20%;
    }

    &__avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 1px solid $border-color;
        border-radius: 50%;
        padding: 2px;
        margin: 20px auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__author {
        margin-top: 20px;
        color: $secondary-color;
        text-align: center;
        padding: 10px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }

    &__nav {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $border-color;

        li {
            padding: 10px 16px;
            
            &:not(:last-child) {
                border-right: 1px solid $border-color;
            }
        }
    }

    // Comments content
    &__content {
        span {
            &:not(:last-child) {
                margin-right: 60px;
            }

            i {
                margin-right: 8px;
            }

            .fa-pen-square {
                color: $secondary-color;
            }
        }

        .fa-thumbs-up {
            cursor: pointer;
            margin-top: 2px;
            color: initial
        }
    }

    &__answer {
        cursor: pointer;
    }


    &__like {
        color: $matches-preview-color;
        float: right;
    }

    &__content-header {
        padding: 15px;
        border-bottom: 1px solid $border-color;
    }

    &__status {
        .status {
            display: inline-block;
                    margin-bottom: -1px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
        }

        .online {
            background: $matches-preview-color;
        }

        .offline {
            background: $register-color;
        }
    }

    &__comment {
        padding: 30px;
    }
}

// Add Comments section
.add-comments {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

    &__header {
        padding: 20px;
        border-bottom: 1px solid $border-color;
    }

    &__header-item {
        font-size: 13px;
        display: inline-block;
        padding: 10px;
        cursor: pointer;

        > i {
            margin-right: 5px;
        }

        &:first-child {
            margin-right: 10px;
        }
    }

    .active {
        border: 1px solid $border-color;
        border-radius: 20px;
    }

    .add-comments__header > {
        .facebook {
            color: #3b5998;
            font-weight: bold;
        }
    }

    &__content {
        margin: 20px;
    }
}

@media(max-width: 1200px) {
    .comments {
        &__user {
            width: 25%;
        }

        &__content {
            span {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
    }
}

@media(max-width: 652px) {
    .comments {

        &__item {
            flex-wrap: wrap;
        }

        &__user {
            width: 100%;
        }

        &__nav {
            li {
                &:first-child {border-left: 1px solid $border-color};
                &:last-child {border-left: 1px solid $border-color};
            }
        }

        &__author {
            font-size: 16px;
        }

        &__content-header {
            span {
                font-size: $small-fs;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        &__comment {
            padding: 15px;
        }
    }

    .add-comments {

        &__header {
            text-align: center;
        }
    }
}